@charset "utf-8";
// $background-color: #ffffff;
// $border-color: #D0D0D0;

//ADD CUSTOM COLORS BEFORE INSTALLING BULMA
$primary: #32A6C3; //heading color
$link: #2962b9; //Link Color
$info: #FFF9EE; //Papaya BackGround color
$success: #FFF0D6; //Button color
$warning: #FFD151; //Accent color
$danger: #C75200; //Subhead color
$dark: #817E7E; //Meta color
$text: #222222; //Text color


@import "../node_modules/bulma/bulma.sass";

/* Import "Lato" font for headings */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Import "Public Sans" font for body text */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    
  }
  
  /* Body Text */
  body {
    font-family: 'Public Sans', sans-serif;
    
  }

  a.navbar-item {
    font-family: 'Public Sans', sans-serif;
  
  }
  
a {
  font-family: 'Public Sans', sans-serif;

}



p {
  font-family: 'Public Sans', sans-serif;
}
